/nbproject/private/
build.xml
*.xml
nbproject/project.properties
*.xml
src/java/cas_en_US.properties
*.properties
src/java/cas_en_US.properties
*.properties
*.xml
web/WEB-INF/config/sun-jaxws.xml
src/java/com/viettel/config/database/default session
/build/
/dist/
*.xml
src/java/config.properties
*.properties