.tadalo .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.png');
}
.dj_ie6 .tadalo .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}
.tadalo .dijitCheckBox,
.tadalo .dijitCheckBoxIcon			{
	background-image: url('../images/checkmark.png'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
}
.dj_ie6 .tadalo .dijitCheckBox,
.dj_ie6 .tadalo .dijitCheckBoxIcon			{
	background-image: url('../images/checkmark.gif'); 
}
.tadalo .dijitCheckBox,
.tadalo .dijitToggleButton .dijitCheckBoxIcon {
	
	background-position: -16px;
}
.tadalo .dijitCheckBoxChecked,
.tadalo .dijitToggleButtonChecked .dijitCheckBoxIcon {
	
	background-position: 0px;
}
.tadalo .dijitCheckBoxDisabled {
	
	background-position: -48px;
}
.tadalo .dijitCheckBoxCheckedDisabled {
	
	background-position: -32px;
}
.tadalo .dijitCheckBoxHover {
	
	background-position: -80px;
}
.tadalo .dijitCheckBoxCheckedHover {
	
	background-position: -64px;
}
