
.tadalo .dijitInputField INPUT,
.tadalo .dijitTextBox,
.tadalo .dijitComboBox,
.tadalo .dijitSpinner {
	margin: 0em 0.1em;
}
.tadalo .dijitTextBox,
.tadalo .dijitComboBox,
.tadalo .dijitSpinner,
.tadalo .dijitTextArea {
	font-family: sans-serif;
	font-size: 100%;
}
.tadalo .dijitTextArea {
	padding: 3px;
}
.tadalo .dijitTextBox,
.tadalo .dijitComboBox,
.tadalo .dijitSpinner,
.tadalo .dijitTextArea,
.tadalo .dijitInlineEditor input {
	
	background:#fff url("../images/validationInputBg.png") repeat-x top left;
	#background:#fff url('../images/validationInputBg.gif') repeat-x top left;
	border:1px solid #b3b3b3;
	line-height: normal;
}
.tadalo .dijitTextBoxDisabled,
.tadalo .dijitComboBoxDisabled,
.tadalo .dijitSpinnerDisabled,
.tadalo .dijitTextAreaDisabled {
	color: gray;
}
.dj_webkit .tadalo .dijitTextBoxDisabled,
.dj_webkit .tadalo .dijitComboBoxDisabled,
.dj_webkit .tadalo .dijitSpinnerDisabled,
.dj_webkit .tadalo .dijitTextAreaDisabled {
	color: #eee;
}
.tadalo .dijitComboBox .dijitInputField {
	padding: 1px 0;
}
.tadalo .dijitComboBox .dijitButtonNode {
	padding: 1px 0.2em;
}
.tadalo .dijitComboBox .dijitButtonNode,
.tadalo .dijitSpinner .dijitButtonNode {
	
	border-color: #9b9b9b;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
}
.tadalo .dijitTextBoxFocused,
.tadalo .dijitComboBoxFocused,
.tadalo .dijitSpinnerFocused, .tadalo .dijitSpinnerUpArrowActive, .tadalo .dijitSpinnerDownArrowActive,
.tadalo .dijitTextAreaFocused {
	
	border-color:#406b9b;
}
.tadalo .dijitComboBoxFocused .dijitButtonNode,
.tadalo .dijitSpinnerFocused .dijitButtonNode,
.tadalo .dijitSpinnerUpArrowActive .dijitButtonNode,
.tadalo .dijitSpinnerDownArrowActive .dijitButtonNode {
	border-left-color:#366dba;
}
.tadalo .dijitSpinnerFocused .dijitDownArrowButton,
.tadalo .dijitSpinnerUpArrowActive .dijitDownArrowButton,
.tadalo .dijitSpinnerDownArrowActive .dijitDownArrowButton {
	border-top-color:#366dba;
}
.tadalo .dijitError {
	background-color:#f9f7ba;
	background-image:none;
}
.dj_ie6 .tadalo .dijitError INPUT {
	
	background-color:#f9f7ba !important;
}
.tadalo .dijitErrorFocused {
	background-color:#f9f999;
	background-image:none;
}
.dj_ie6 .tadalo .dijitErrorFocused INPUT {
	
	background-color:#f9f999 !important;
}
.tadalo .dijitValidationIcon {
	
	width: 16px;
	background: transparent url('../images/warning.png') no-repeat center center;
}
.tadalo .dijitInlineValue {
	
	padding:3px;
	margin:4px;
}
.tadalo .dijitInlineEditor {
	
	display: inline-block;
	display: -moz-inline-stack;
	#display:inline;
	
}
.dijitInlineEditor .saveButton,
.dijitInlineEditor .cancelButton {
	margin:3px 3px 3px 0px;
}
.RichTextEditable {
	border:1px solid #bfbfbf;
	border-top:0;
}
.tadalo .dijitComboBoxHighlightMatch {
	background-color:#a5beda;
}
.tadalo .dijitFocusedLabel {
	
	outline: 1px dotted #666666;
}
