.tadalo .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.tadalo .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.tadalo .dijitSliderFocused .dijitSliderProgressBarH,
.tadalo .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}
.tadalo .dijitSliderFocused .dijitSliderProgressBarV,
.tadalo .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}
.tadalo .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}
.tadalo .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}
.tadalo .dijitSliderBar {
	border-style: solid;
	outline:1px;
}
.tadalo .dijitSliderFocused .dijitSliderBar {
	border-color:#888;	
}
.dijit_a11y .dijitSliderProgressBar {
	background-color:#888 !important;
}
.tadalo .dijitSliderImageHandleH {
	border:0px;
	width:16px;
	height:16px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
	cursor:pointer;
}
.tadalo .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}
.dj_ie6 .tadalo .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumb.gif");
}
.tadalo .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.tadalo .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}
.tadalo .dijitSliderImageHandleV {
	border:0px;
	width:16px;
	height:16px;
	background:url("../images/sliderThumb.png") no-repeat center center;
	cursor:pointer;
}
.tadalo .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
}
.dj_ie6 .tadalo .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.gif");
}
.tadalo .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.tadalo .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}
.tadalo .dijitSliderDecrementIconH,
.tadalo .dijitSliderDecrementIconV,
.tadalo .dijitSliderIncrementIconH,
.tadalo .dijitSliderIncrementIconV {
	cursor: pointer;
	background-image: url('../images/spriteArrows.png');
	background-repeat: no-repeat;
	margin: 5px;
	height: 7px;
	width: 7px;
	font-size: 1px;
}
.dj_ie6 .tadalo .dijitSliderDecrementIconH,
.dj_ie6 .tadalo .dijitSliderDecrementIconV,
.dj_ie6 .tadalo .dijitSliderIncrementIconH,
.dj_ie6 .tadalo .dijitSliderIncrementIconV {
	background-image: url('../images/spriteArrows.gif');
}
.tadalo .dijitSliderDecrementIconH {
	background-position: -7px 0px;
}
.tadalo .dijitSliderIncrementIconH {
	background-position: -14px 0px;
}
.tadalo .dijitSliderDecrementIconV {
	background-position: 0px 0px;
}
.tadalo .dijitSliderIncrementIconV {
	background-position: -21px 0px;
}
.tadalo .dijitSliderButtonInner {
	visibility:hidden;
}
.tadalo .dijitSliderDisabled {
	opacity:0.6 !important;
}
.dj_ie .tadalo .dijitSliderDisabled,
.dj_ie .tadalo .dijitSliderDisabled .dijitRuleContainer,
.dj_ie .tadalo .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie .tadalo .dijitSliderDisabled .dijitSliderProgressBar {
	filter: gray() alpha(opacity=40);
}
.tadalo .dijitSliderDisabled * {
	cursor: not-allowed !important;
}
