<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <input dojoType="dijit.form.TextBox" name="${name}.${valueField}" dojoAttachPoint="textbox,focusNode,valueTextBox" readonly="true"/>
                    </td>
                    <td>
                        <span class="datapicker-list" dojoAttachPoint="pickDataIcon"></span>
                        <span class="datapicker-delete" dojoAttachPoint="deleteIcon"></span>
                    </td>
                </tr>
            </table>

        </td>
        <td  dojoAttachPoint="hiddenFieldsContainer">
        </td>
    </tr>
</table>