<table cellspacing="0" cellpadding="0"  style="width: 100%">
    <tbody >
        <tr>
            <td valign="top">
                <div class="gridHeader" dojoAttachPoint="extensionDiv" >
                    <div style="clear:both;display: inline; padding-right:10px" >
                        <span dojoAttachPoint="titleRowCount" > </span>
                        <span dojoAttachPoint="rowCount" style="padding-left: 10px"></span>
                    </div>
                    <div style="clear:both;display: inline;padding-right: 10px;">
                        <span dojoAttachPoint="titlePageSelector" style="padding-right: 10px"> </span>
                        <span dojoAttachPoint="pageSelectorContainer" ></span>
                    </div>
                    <div id="${id}_rppContainer" style="clear:both;display: inline;">
                        <span dojoAttachPoint="titleRpp" style="padding-right: 10px"> </span>
                        <span dojoAttachPoint="rppSelectorContainer" ></span>
                    </div>
                    <div style="clear:both;display: inline;">
                        <span dojoAttachPoint="settings" class="setting-icon" dojoAttachEvent="onclick: _vtSetting"></span>
                    </div>
                </div>
                <div class="gridDiv" dojoAttachPoint="gridDiv" >
                </div>
            </td>
        </tr>
    </tbody>
</table>
