/* 
    Document   : test
    Created on : Jun 11, 2009, 4:51:59 PM
    Author     : Hoang Long
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.treePickerContainer {
    background:#e4e4e4;
    border: 1px solid #84a0c4;
    height:auto;
    width:400px;
    padding: 0px;
}


.treePickerDiv {
    margin-top:10px;
    height:300px;
    width:100%;
    border:1px solid #ccc;
    overflow:auto;
}

.padding-10{
    padding:10px;
}

