.tadalo .dijitProgressBar {
	margin:2px 0px 2px 0px;
}
.tadalo .dijitProgressBarEmpty {
	
	background:#fff url("images/progressBarEmpty.png") repeat-x center center;
	border-color: #a2a2a2 #b8b8b8 #b8b8b8 #a2a2a2;
}
.tadalo .dijitProgressBarTile {
	
	background:#f0f0f0 url("images/progressBarFull.png") repeat-x center center;
}
.tadalo .dijitProgressBarFull {
	border-right:1px solid #b8b8b8;
}
.tadalo .dijitProgressBarLabel {
	
	color:#293a4b;
}
.tadalo .dijitProgressBarIndeterminate .dijitProgressBarTile {
	
	background:#cad2de url("images/progressBarAnim.gif") repeat-x center center;
}
