
.tadalo .dijitTimePickerTick,
.tadalo .dijitTimePickerMarker {
	border-color: #ccc;
}
.tadalo .dijitTimePickerTick {
	color:white;
}
.tadalo .dijitTimePickerMarker {
	background:#d3d3d3 url("images/titleBar.png") repeat-x top;
	color:#293a4b;
	font-weight: bold;
}
.tadalo .dijitTimePickerItemSelected {
	color: black;
	background: #bbc4d0 none;
}
.tadalo .dijitTimePickerItemHover {
	background: #60a1ea none;
	color:white;
}
.tadalo .dijitTimePickerItemHover,
.tadalo .dijitTimePickerItemSelected {
	position: relative;
	z-index: 10;
}
.tadalo .dijitTimePickerTick .dijitTimePickerItemInner {
	font-size:0.4em;
}
.tadalo .dijitTimePickerItemHover .dijitTimePickerItemInner,
.tadalo .dijitTimePickerItemSelected .dijitTimePickerItemInner {
	font-size:1em;
}
.tadalo .dijitTimePickerMarkerHover {
	border-top: 1px solid #ccc;
}
.tadalo .dijitTimePickerTickHover,
.tadalo .dijitTimePickerTickSelected {
	margin-top:-0.3em;
	margin-bottom:-0.3em;
	border-bottom: none;
}
.dijit_a11y .dijitTimePickerTickHover {
	background-color: #CCC !important;
	border-top: 1px solid #333 !important;
	border-bottom: 1px solid #333 !important;
}
.dijit_a11y .dijitTimePickerMarkerHover {
	border-bottom-width: 2px;
}
