.tadalo .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#eaeaea url("images/titleBar.png") repeat-x top left;
}
.dj_ie6 .tadalo .dijitToolbar {
	height: 10px;
}
.tadalo .dijitToolbar .dijitButtonNode,
.tadalo .dijitToolbar .dijitComboButton .dijitButtonContents,
.tadalo .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 12px;
}
.tadalo .dijitToolbar .dijitButton,
.tadalo .dijitToolbar .dijitToggleButton,
.tadalo .dijitToolbar .dijitDropDownButton,
.tadalo .dijitToolbar .dijitComboButton .dijitButtonContents,
.tadalo .dijitToolbar .dijitComboButton .dijitDownArrowButton  {
	background: none;
	padding: 1px;
}
.tadalo .dijitToolbar .dijitButtonChecked,
.tadalo .dijitToolbar .dijitToggleButtonChecked {
	background-color:#d4dff2;
	border:1px solid #316ac5;
	padding: 0px;	
}
.tadalo .dijitToolbar .dijitButtonCheckedHover,
.tadalo .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#abc1e5;
	border:1px solid #316ac5;
	padding: 0px;	
}
.tadalo .dijitToolbar .dijitButtonHover,
.tadalo .dijitToolbar .dijitToggleButtonHover,
.tadalo .dijitToolbar .dijitDropDownButtonHover,
.tadalo .dijitToolbar .dijitComboButtonHover .dijitButtonContents,
.tadalo .dijitToolbar .dijitComboButtonDownArrowHover .dijitDownArrowButton {
	
	border: 1px solid #869cbf;
	padding: 0px;	
	background-color:#e1e5f0;
}
.tadalo .dijitToolbar label {
	padding: 3px 3px 0 6px;
}
.dj_ie .tadalo .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .tadalo .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused,
.dj_ff2 .tadalo .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .tadalo .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	
	border: 1px #555 dotted !important;
	padding: 0px;	
}
