
.dijitRtl .tadalo .dijitTreeContainer .dijitTreeNode {
    background-image : none;
}
.dijitRtl .tadalo .dijitTreeContainer .dijitTreeExpandoOpened {
	background-image: url('images/treeExpand_minus_rtl.gif');
}
.dijitRtl .tadalo .dijitTreeContainer .dijitTreeExpandoClosed {
	background-image: url('images/treeExpand_plus_rtl.gif');
}
.dijitRtl .tadalo .dijitTreeContainer .dijitTreeExpandoLeaf {
	background-image: none;
}
