.dijitRtl .tadalo .dijitTab {
	margin-right:auto;
	margin-left:4px;		
	-moz-box-orient:horizontal;
	text-align: right;
}
.dijitRtl .tadalo .dijitTabContainerTopStrip,
.dijitRtl .tadalo .dijitTabContainerBottomStrip {
	padding-right: 3px;
	padding-left: 0px;
}
.dijitRtl .tadalo .dijitTabInnerDiv {
	padding:6px 9px 5px 8px;
}
.dijitRtl .tadalo .dijitTabPaneWrapper {
	#zoom: 1;
}
.dj_ie-rtl .tadalo .dijitTabContainerLeft-tabs {
	margin-left: 1px !important;
}
.dj_ie-rtl .tadalo .dijitTabContainerRight-tabs {
	margin-right: 1px !important;
}
.dijitRtl .tadalo .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .tadalo .dijitTabContainerRight-tabs .dijitTab {
	margin-left:0px;
}
.dj_ie-rtl .tadalo .dijitTab .dijitTabInnerDiv {
	width : 1% !important;
}
