/* 
    Document   : newcss
    Created on : Dec 27, 2010, 4:31:54 PM
    Author     : Hoang Long
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

